
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the styles */
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
button {
  &:last-child {
    border-right-width: 0;
  }
}
